<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta content="description" name="In this tutorial, we take a look at a beautiful parallax scrolling effect in the simplest of ways, with stationary backgrounds and scrolling content.">

  <title>Bates College Virtual Tour!</title>

  <!-- css -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/base.css">


  <!-- js -->
  <script src="js/modernizr.js"></script>
</head>

<body>
<div class="wrapper">

  <main>

      <section class="module parallax parallax-10">
        <div class="containerr">
          <h1>Bates</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Hedge Hall</h2>
          <p>Below is a walking tour of Hedge Hall.  Hedge Hall is an academic building on campus home to philosophy, environmental studies and religious studies. Please, walk through, click on tags, and fully immerse yourself.</p>
          <center><iframe width='853' height='480' src='https://my.matterport.com/show/?m=TuWm6t4UNq9' frameborder='0' allowfullscreen></iframe></center>
        </div>
      </section>

      <section class="module parallax parallax-3">
        <div class="container">
          <h1>Academics</h1>
        </div>
      </section>

      <!-- <section class="module parallax parallax-10">
        <div class="container">
          <h1>Tour</h1>
        </div>
      </section> -->

      <footer>
          <div class="copyright">
              <center><p>Independent Study: Virtual Tour of Bates</p></center>

          </div>


  </main><!-- /main -->
<!-- /footer -->

</div><!-- /#wrapper -->

<!-- analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34160351-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>
</html>
